@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Caveat:b");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffedfd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #fc963d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa6429;
}